﻿@page
@using ProductManager.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using ProductManager.Localization
@model IndexModel
@inject IStringLocalizer<ProductManagerResource> L
@section scripts
{
    <abp-script src="/Pages/Products/index.js" />
}


<abp-card>
    <abp-card-header>
        <h2>@L["Menu:Products"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table id="ProductsTable" striped-rows="true" />
    </abp-card-body>
</abp-card>

